# Compiled python modules.
*.pyc

# Byte-compiled
__pycache__/
.cache/
.venv/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/
tests/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# Local benchmark outputs (use a different path to version intentional results).
results/
